---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20.x']
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Fix permissions for Nginx config
        run: chmod 644 test/integration/docker-app/nginx.conf
      - name: Run Tests
        run: npm test
      - name: Debug Nginx failure
        if: always()
        run: |
          echo "=== Docker Containers ==="
          docker ps -a
          echo "=== Nginx Logs ==="
          docker logs $(docker ps -aq | head -n 1)

    # The Workflow will run for hours on failure without a timeout. The duration is an estimate.
    timeout-minutes: 5
